*{
  font-family: 'Poppins', sans-serif;
}
header{
  background-image: url(./assets/headerBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.oscurecer-fondo{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000073;
}